<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header"><h3>Login Form</h3></div>
              <div class="card-body">
                  <form (ngSubmit)="validate_user()">
                      <div class="form-group row"  >
                        <label for="Email"  class="col-md-3">Email:</label>
                        <input type="text" class="col-md-9" name="Email" id="" placeholder="Email" [(ngModel)]="userForm.Email">
                      </div>
                      <br>
                      <div class="form-group row" >
                        <label for="password" class="col-md-3">Password:</label>
                        <input type="password"   class="col-md-9" name="password" placeholder="Password" [(ngModel)]="userForm.Password">
                      </div>
                      <br> 
                      <div class="form-group row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary pull-right" (click)="redirect_home()">Login</button>
                        </div>
                        <div class="col-md-6">
                            <!-- <button type="submit" class="btn btn-primary pull-right" (click)="redirect_register()">register</button> -->
                            <a [routerLink]="['/Register']" href="javascript:void()">CLICK here </a>
                        </div>
                      </div>
                  </form>
              </div>   
            </div>
      </div>
    </div>
    </div>
    